.text-left {
  text-align: left;
  width: 90%;
  margin: 0 auto;
  display: block;
}

.tab {
    margin-left: 40px; /* Standard tab size */
}

.bordered-table {
  border-collapse: collapse;
  width: 100%;
}
.bordered-table th, 
.bordered-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
.bordered-table th {
  background-color: #2b2b2b;
  color: white;
}
